$wrapperBg: #fd405e;

// HEADER
$headerTextcolor: #fff;
$headerLogofont: "Poppins Bold", sans-serif;
$headerListfont: "Poppins Regular", sans-serif;
$headerSearchfont: "Poppins", sans-serif;

// HEADER_BANNER
$headerBannertitleFont: "Playfair Display Regular";
$headerBannersubtitleFont: "Playfair Display Italic";
$headerBannerbtnFont: "Poppins Semi Bold";

// SHININNG

$shineTextfont: "Roboto";

// Antique Block

$antiquePricefont: "Roboto Medium";
$antiquePricecolor: #727272;
$antiquePricecolorlight: #c5c5c5;
$sliderpostFont: "Playfair Display Italic";

// Best
$bestSubtitlecolor: #949494;

// Blog block

$wrapBgcolor: #f6f6f6;
$blogTitlecolor: #5e5d5d;
$blogSubtitlecolor: #bdbdbd;

// Adrdress
$addressTitlecolor: #a6a6a5;

// Footer
$listcolor: #939393;

// social official colors

$facebookColor: #3b5999;

$twitterColor: #55acee;

$youtubeColor: #c4302b;

$instagramColor: #e4405f;

$vimeoColor: #1ab7ea;
